[submodule "themes/codex"]
	path = themes/codex
	url = https://github.com/jakewies/hugo-theme-codex.git
[submodule "themes/kiera"]
	path = themes/kiera
	url = https://github.com/funkydan2/hugo-kiera

